*{
margin:0;
padding:0;
box-sizing:border-box;
font-size: 101%;
}
a {
    text-decoration: none;
}
#a1a {
    margin: 100px;
}
input[type="submit"] {
    width: 26px;
    height: 20px;
    background:url(image.png);
    position:fixed; top:100px;  left:875px;
}
#heading1 {
    font-size: 25px;
    font-weight: bold;
}
#heading2 {
    font-size: 17px;
}
div.a {
width:800px;
outline: 2px solid #000;
height: 70px;
background-color:  #6B90D4;
}

div.b {
width:800px;
}
div.left_block {
float:left;
width: 150px;
height: 600px;
outline: 2px solid #000;
background-color:    #1047A9;
}
div.right_block {
float:left;
width: 650px;
height: 600px;
outline: 2px solid #000;
overflow-y: scroll;
background-color:  #1047A9;
}
div.persons {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 5px;
}
div.person { 
    overflow:hidden;
    width: 140px;
    white-space: nowrap; 
    margin-top: 5px;
    text-align: center;
}
div.name {
    display:inline-block;
    border: 2px solid black; 
    width: 35px; 
    line-height: 30px; 
    border-radius: 100%; 
    text-align: center;
    background-color:  #6B90D4;
    font-weight: bold;
}
div.namedatatime {
    width: 50px;
    margin: 5px;
    display:inline-block;
    height: 15px;
    white-space: normal;
    font-weight: bold;
}

div.nameperson {
size: 5px;
margin: 10px;
font-weight: bold;
}
div.message {
width: 620px;
height: auto;
outline: 2px solid #000;
margin: 5px;
background-color:  #4577D4;
}